.page {
    background-color: aliceblue;
    min-height: 100vh;

    .hr_container {
        text-align: center;
        display: flex;
        justify-content: center;
    
    
        .into-text {
            font-size: 15px;
            line-height: 1.5;
            margin: -10px auto 20px;
            color: #39424E;
            text-align: center;
        }
    
    
        .home22-intro-title {
            font-size: 42px;
            font-weight: 400;
            line-height: 101px;
            font-family: math;
            letter-spacing: normal;
            margin: 0 0 0;
        }
    
        .buttons {
            justify-content: center;
            display: flex;
        }
    
        .signup-button {
            /* Green */
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-right: 100px;
        }
    
        .login-button {
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-left: 40px;
        }
    }
    .uworld {
        margin-left: 50px;
        display: flex;
        justify-content: left;
    }
    .gap{
        margin-bottom: 50px;
    }

    .curousel{
        display: flex;
        justify-content: center;
        img {
            height: 400px;
            object-fit: cover;
          }
    }
}

