.page {
    background-color: aliceblue;
    min-height: 100vh;
    min-width: 100vh;

    .uworld {
        margin-left: 1%;
        display: flex;
        justify-content: space-between;

        .logo {
            float: left;
        }

        .buttons {
            padding-top: 2%;
            padding-bottom: 2%;
            width: 11%;
            display: flex;
            margin-right: 10px;
        }
    }

    .hr_container {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        padding-top: 6%;
        align-items: center;


        .into-text {
            font-size: 15px;
            line-height: 1.5;
            margin: -10px auto 20px;
            color: #39424E;
            text-align: center;
            white-space: pre-wrap;

            .break-lines{
             padding-left: 25%;
            }
        }


        .home22-intro-title {
            font-size: 42px;
            font-weight: 400;
            line-height: 101px;
            font-family: math;
            letter-spacing: normal;
            margin: 0 0 0;
        }


        .signup-button {
            /* Green */
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-right: 100px;
        }

        .login-button {
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-left: 40px;
        }

        .curousel {
            display: flex;
            justify-content: center;

            img {
                height: 400px;
                object-fit: cover;
            }
        }
    }

    .fetures {
        display: flex;
        justify-content: space-evenly;
        padding-top: 4%;
        padding-bottom: 5%;


        .feture-img {
            height: 50%;
        }

        .feture-text {
            display: flex;
            justify-content: center;
        }
        .bullet-header {
            font-size: 42px;
            font-weight: 400;
            line-height: 44px;
            font-family: math;
            letter-spacing: normal;
            margin: 0 0 0;
            padding-top: 3%;
            padding-bottom: 2%;
        }
        .bullet-text{
            font-size: 32px;
            font-weight: 400;
            line-height: 44px;
            font-family: math;
            letter-spacing: normal;
            margin: 0 0 0;
            padding-top: 3%;
        }
    }
    .footer{
        background-color: #164687!important;
        display: flex;
        padding-top: 2%;
        justify-content: space-between;
        align-items: center;
        .icons{
            margin-right: 10%;
        }
        .terms{
            margin-left: 10%;
            color: #e3dcdc;
        }
    }
}