.dialog-main-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.dialog-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.taken-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-container {
    margin-right: 10px;
    width: 100px;
    height: 100px;
}

.image {
    width: 100%;
    height: 100%;
}

.action-buttons-container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.instruction-message {
    text-align: center;
}

.close-button {
    background-color: transparent;
    border: none;
}

.imageee {
    border: 1px solid black;
    border-radius: 8px;
}

.image-border {
    border: 1px solid  green;
}
.error-message {
    margin: 20px;
    color: red;
    font-size: 18px;
}