<div class="instructions-main-container">
    <div class="content-container">
        <div class="instructions-container">
            <p class="instruction-header"> Instructions </p>
            <ol class="list-container">
                <li class="list-item"><span class="menu-item">Total Questions: </span> 10 </li>
                <li class="list-item"><span class="menu-item">Type of Questions: </span> MCQs </li>
                <li class="list-item"><span class="menu-item">Duration: </span> 10 Mins </li>
                <li class="list-item"><span class="menu-item">Marking Scheme: </span> Every Correct response, get 1 mark </li>
            </ol>
            <div class="buttons-container">
                <button mat-raised-button class="mat-custom-button" color="primary">
                    Authenticate
                </button>
                <button mat-raised-button class="mat-custom-button" color="primary">
                    Start Assignment
                </button>
            </div>
        </div>
        <div class="image-container">
            <img class="test-image" src="https://res.cloudinary.com/dtmg/image/upload/v1702192835/testClient/bkepraisn39bweok3471.png" />
        </div>
    </div>
</div>