.authenticate-dialog-container {
    padding: 20px;
}

.video-container {
    text-align: center;
}

.image {
    width: 100px;
    height: 100px;
}

.err-msg {
    padding-top: 10px;
    color: red;
}