.dialog-header-container {
    background-color: red;
    width: 100%;
    padding: 15px;
}

.warning-text {
    color: white;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

.description-container {
    padding: 20px;
}