<div class="test-interface-container">
    <div class="header">
        <img class="image-container" src="../../assets/uworld-lp-logo.svg" />
        <button mat-button (click)="close()"><i class="fas fa-sign-out-alt" style="color: #ffffff;"></i></button>
    </div>
    <!-- <app-instructions>
    </app-instructions> -->
    <div class="main-test-container">
        <div class="content-wraper">
            <div class="question-details-container">
                <div class="question-container">
                    <p class="question">{{currentQuestionData?.questionId}}. {{currentQuestionData?.questionText}}</p>
                    <div class="options-container">
                        <button mat-raised-button [ngClass]="!answered(item) ? 'option-button' : 'option-button-answered'"  *ngFor="let item of currentQuestionData?.options" (click)="sumbitted(item)" > {{item}}
                        </button>
                    </div>
                </div>
                <div class="button-containerr">
                    <button mat-raised-button color="primary" (click)="onClickPreviousQuestion()"> Previous Question</button>
                    <button mat-raised-button color="primary" (click)="onClickNextQuestion()"> Next Question</button>
                </div>
            </div>
            <div class="test-details-container">
                <div class="timer-container">
                    <p class="para">
                        Time Left
                    </p>
                    <p class="para">
                        {{display}}
                    </p>
                </div>
                <div class="navigatior">
                    <div class="attempt-details-container">
                        <p class="para1">
                            <span class="answered"> &nbsp; {{answeredCount()}} </span>
                            <span> Answered Questions</span>
                        </p>
                        <p class="para1">
                            <span  class="un-answered"> {{totalcount()}} </span>
                            <span> Unanswered Questions </span>
                        </p>
                    </div>
                    <div class="questions-wrapper">
                        <div class="p-2 questionsss">
                            <p class="questions-heading"> Questions ({{questionsData?.length}}) </p>
                            <div class="questions-navigator">
                                <button  mat-raised-button *ngFor="let item of questionsData; index as i" [ngClass]="!submittedquestion(item) ? 'answered-question' : 'm-2'" (click)="navigateQuestion(i)">
                                    {{i + 1}}
                                </button>
                            </div>
                        </div>
                        <div class="p-4 submit-button">
                            <button mat-raised-button color="primary" class="w-100" (click)="submitTest()"> Submit Test </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>