<div class="profiles-main-container">
    <div class="header">
        <div>
            <img src="../../assets/uworld_logo.png" style="width: 50px; height: 50px;" />

            <img src="../../assets/uworld_logo-text.png" style="width: 150px; height: 50px;" />
        </div>
        <button class="button-calss" (click)="onClick()">
            <i class="fas fa-1x fa-times"></i>
        </button>
    </div>
    <div class="priiii">
        <div class="profiles-container">
            <!-- <div class="profile" (click)="onClick()">
                <img src="../../assets/trinadh.jpg" class="profile-image" />
                <p class="profile-name">Trinadh</p>
            </div>
            <div class="profile" (click)="onClick()">
                <img src="../../assets/ranjith.jpg" class="profile-image" />
                <p class="profile-name">Ranjith</p>
            </div>

            <div class="profile" (click)="onClick()">
                <img src="../../assets/ranjesh.png" class="profile-image" />
                <p class="profile-name">Rajesh</p>
            </div>

            <div class="profile" (click)="onClick()">
                <img src="../../assets/imran.jpg" class="profile-image" />
                <p class="profile-name">Imran</p>
            </div>

            <div class="profile" (click)="onClick()">
                <img src="../../assets/wasim.png" class="profile-image" />
                <p class="profile-name">Wasim</p>
            </div> -->
            <div class="profile" (click)="onClick()">
                <img src="../../assets/a1.png" class="profile-image" />
                <p class="profile-name">Trinadh</p>
            </div>
            <div class="profile" (click)="onClick()">
                <img src="../../assets/a2.png" class="profile-image" />
                <p class="profile-name">Ranjith</p>
            </div>

            <div class="profile" (click)="onClick()">
                <img src="../../assets/a3.png" class="profile-image" />
                <p class="profile-name">Rajesh</p>
            </div>

            <div class="profile" (click)="onClick()">
                <img src="../../assets/a4.jpg" class="profile-image" />
                <p class="profile-name">Imran</p>
            </div>

            <div class="profile" (click)="onClick()">
                <img src="../../assets/a5.png" class="profile-image" />
                <p class="profile-name">Wasim</p>
            </div>
        </div>
    </div>
</div>