.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/Uworld-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container {
    box-shadow: 0px 4px 16px 0px #7B879429;
    background-color: #ffffff;
    min-height: 50vh;
    width: 30%;
    border-radius: 8px;
    align-self: flex-end;
    margin-right: 50px;
}

.logo-container {
    text-align: center;
    padding: 30px;
}

.login-inputs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 10px !important;
}

.custom-input {
    width: 100%;
    margin-bottom: 10px;
}

.login-button-container {
    width: 100%;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 50px;
    padding-bottom: 20px;
}

.image-container {
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.info {
    width: 100%;
    text-align: center;
    font-size: medium;
    font-weight: 400;
}

.success-message {
    color: green;
}

.err-msg {
    color: red;
    padding-right: 10px;
}
.click {
    cursor: pointer;
    color: #007bff;
    margin: 6px;
}
.click:hover {
     text-decoration: underline;
}