
<div class="main-container">
    <div class="login-container">
        <div class="logo-container">
            <img src="../../assets/uworld-lp-logo.svg" />
        </div>
        <div class="login-inputs-container">
            <div class="email-container">
                <mat-form-field appearance="outline" class="custom-input">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="Email" [formControl]="email" required>
                    <mat-error>{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="password-container">
                <mat-form-field appearance="outline" class="custom-input">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
        <div class="image-container">
            <button mat-raised-button color="primary" (click)="openCameraDialog()">
                Take Photo
            </button>
        </div>
        <div class="login-button-container">
            <button mat-raised-button color="primary">
                Sign in 
            </button>
        </div>
    </div>